body{
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
}
.subscribe-button{
background-color:rgb(192, 22, 22);
color: white;
border: none;
border-radius: 5px;
height: 36PX;
width: 120px;
cursor: pointer;
margin-right: 8px;
opacity: 0.8;
}
.join-button{
background-color: white;
color: rgb(41,22);
height: 36PX;
width: 60px;
border-radius: 5px;
cursor: pointer;
margin-left: 10px;
margin-right:10px ;
}

.tweet-button{
background-color: rgb(13, 90, 231);
color: white;
height: 36PX;
width: 70px;
border-radius: 18px;
cursor: pointer;
border: none;
font-size:10px ;       /*focus*/
font-weight: bold;
}
.tweet-button:hover{
box-shadow:50px 5px 10px rgba(0,0,0,0.15)     /*a=opacity*/
}
